<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country - Info </title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header id="menu">
        <nav>
            <ul>
                <li><a href="../index.html"> Book of Countries </a></li>
                <li><a href=""> </a></li>
               
            </ul>
        </nav>
    </header>
    <section id="country-info">
        <div id="container">
            <div id="banner">
                <img alt="flag-country" id="country-image">
            </div>
            <div id="information">
                <h2> </h2>
                <small> </small>
                <p> </p>
            </div>  
        </div>
    </section>
    <script src="../assets/js/country.js"></script>
</body>

</html>